/* General CSS stuff goes here. */

body {
    background-color: white;
}


.columnred{
	height: 200px;
	background-color: red;
}

.columnblue{
	height: 200px;
	background-color: blue;
}

.columngreen{
	height: 200px;
	background-color: green;
}